
<div class=" blends_pack" style="margin-top: 40px; display: flex">
<div class="firstItem">
<img class="firstImg img_pack"  style='width: 75px !important; height: 75px !important'src=""> 
  
</div>
</div>

