   <div class="myPack Ya mobile-subscription2" style="padding: 0; display:none !important;justify-content: space-between !important;padding-left: 80px"> 
     <div style="display:block !important;width:100%">
    <div id="bxp-discount-toast" class="discountApplied" style="background-color: green; bottom: 111px;display: none;width: 11%;font-size: 19px;padding: 7px;position: fixed;justify-content: center;padding: 7px;margin: 0 27.5%; color:white"><div>Discount Applied</div></div>
      <div class="warning-button more-than-8">You can only select 8 blends</div>
       <div class="warning-container"></div>
       <div class="p-orders">
  <div class="orders" style=margin-top:5px;> </div></div>
     <div class="price_button_mobile" style="display:flex;justify-content: space-between !important;margin-top: 3%;">
        <div class="subscription_price" style="display:flex;">
         <div id="bxp-bldr-price_total" style="display:flex; padding-top: 9%;padding-right: 41px;"><h3 style="font-size: 23px;" data-open-accessibility-text-original="28px">Total: </h3><span id="bxp-bldr-total_value2" style="font-size: 23px;padding-top: 1px;padding-left: 10px" data-open-accessibility-text-original="26px">$0.00</span></div>
        </div>
        <div class="subscription_button" style="display:flex;">
        <button  data-open-quick-cart="true" type="button" class="bxp-reset" style="" >Buy</button>
        </div></div></div>
   </div>
   