   <div class="myPack Ya desktop-subscription" style="padding: 0; display:none;justify-content: space-between !important;padding-left: 80px">  
     <div class="p-orders"><div class="orders"> </div></div>
        <div class="price_button" style="display:flex;padding-right: 212px;">
        <div id="bxp-bldr-price_total" style="display:flex; padding-top: 9%;padding-right: 41px;"><h3 style="font-size: 23px;" data-open-accessibility-text-original="28px">Total: </h3><span id="bxp-bldr-total_value" style="font-size: 23px;padding-top: 1px;padding-left: 10px" data-open-accessibility-text-original="26px">$0.00</span></div>
        <button  data-open-quick-cart="true" type="button" class="bxp-reset" style="" >Buy Now</button>
        </div>
   </div>
   