<div class="what-you-get">
  What's in the box? 
<!--   <img id="boxIcon" class="step-icon" src="https://cdn.shopify.com/s/files/1/1852/7957/files/box-open-solid.svg?v=1654561505"/> -->
  <div class="div-show">
    <div class="div-show-text">Close</div>
  </div>
</div>

<div hidden class="inside-div">
  <div class="inside-card" style="justify-content:space-between; background-color:white; padding:0">
    <div class="inside-card-double">
      <img id="blenderImage" class="lazyload inside-img" src=""/>
      <div style="padding-left:5px;">
          <div class="inside-title" id="blenderName" style="padding-bottom:0;"></div>
        <div class="inside-title" style="padding-bottom:0;">Blender</div>
      </div>
    </div>
    <div class="inside-card-double" style="padding-right:10px">
      <img id="blenderImage" class="lazyload inside-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/usbc-vejo.png?v=1654536130"/>
      <div style="padding-bottom:0; padding-left:5px;">
          <div class="inside-title" style="padding-bottom:0">USB-C</div>
        <div class="inside-title" style="padding-bottom:0">Cable</div>
      </div>
    </div>
  </div>
  <div class="inside-card card-1" id="card0" style="display:none">
    <img id="blendImage0" class="lazyload inside-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/lids-smoothie-clean-greens-400x466.webp?v=1654550845"/>
    <div class="inside-card-right">
        <div class="inside-title" id="insideTitle0">Clean Greens</div>
        <div class="inside-desc" id="insideDesc0">This herbaceous blend tastes like it was plucked straight from the garden. It's a good source of vitamin C and contains B vitamins, ideal for when you crave a refreshing dose of greens.</div>
    </div>
  </div>
  <div class="inside-card card-2" id="card1" style="display:none">
    <img id="blendImage1" class="lazyload inside-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/lids-protein-banana-almond-400x466.webp?v=1654550791"/>
    <div class="inside-card-right">
        <div class="inside-title" id="insideTitle1">Banana Almond</div>
        <div class="inside-desc" id="insideDesc1">This hearty blend will satisfy even the most indulgent banana bread cravings while delivering 7 grams of protein. Dietary fiber ensures this banana blend satisfies and satiates. It's great as post-workout drink, or to bridge the gap between meals.</div>
    </div>
  </div>
</div>
    <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=LKpY5Y"></script>
