<style>
  .twofour-title{
    font-weight:500;
    text-align:center;
    padding-bottom:20px;
    font-size:20px;
  }
  .twofour-main-div{
    padding-top:40px;
    padding-bottom:30px;
    background-color:white;
    font-family: Scandia;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .twofour-sub-div{
    padding-top:10px;
  	display:flex;
    justify-content: space-around;
    width: 98%;
  }
  .twofour-blend{
    background-color: #f3f4f3;
  	display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    padding:2vw;
    border-radius:10px;
    height: 100%;
  }
  .twofour-blend-img{
    margin-bottom:10px;
    border-radius:10px;
    width:42vw;
    height:100%;
    transition: all .1s ease;
  }
  .twofour-blend-name{
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    width: 100%;
    height: 32px;
    margin-top: 7px;
  }
  .twofour-blend-choices{
    padding-top:10px;
  	display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: inherit;
    width: 100%;
  }
  .twofour-blend-choices-choice{
    transition: all .1s ease;
  	width: 90%;
    font-size:13px;
    text-align: center;
    background: rgb(255,255,255);
    padding: 4px;
    border-radius: 15px;
    margin-bottom:8px;
    padding-top:7px;
    padding-bottom:7px;
  }
  .twofour-blend-choices-choice:active {
	transform: scale(0.95);
	transition: .05s;
  }
  .twofour-blend-img:active {
	transform: scale(0.95);
	transition: .05s;
  }
</style>

<div class="twofour-main-div">
  <div class="twofour-title">Select two FREE 4-packs<br/>of your choice</div>
  <div class="twofour-sub-div">
    <div class="twofour-blend">
      <img class="twofour-blend-img" data-variant="39487812501598" src="https://cdn.shopify.com/s/files/1/1852/7957/files/vejo-blended-drink-organic-strawberry-banana.jpg?v=1655853007"/>
      <div class="twofour-blend-name">Strawberry Banana</div>
      <div class="twofour-blend-choices">
        <div id="blend0choice0" data-variant="39487812501598" class="twofour-blend-choices-choice">
          One 4-Pack
        </div>
        <div id="blend0choice1" data-variant="39487812501598" class="twofour-blend-choices-choice">
          Two 4-Packs
        </div>
      </div>
    </div>
    <div class="twofour-blend">
      <img class="twofour-blend-img" data-variant="39487804375134" src="https://cdn.shopify.com/s/files/1/1852/7957/files/vejo-blended-drink-organic-tropical.jpg?v=1655853007" />
      <div class="twofour-blend-name">Tropical</div>
      <div class="twofour-blend-choices">
        <div id="blend1choice0" data-variant="39487804375134" class="twofour-blend-choices-choice">
          One 4-Pack
        </div>
        <div id="blend1choice1" data-variant="39487804375134" class="twofour-blend-choices-choice">
          Two 4-Packs
        </div>
      </div>
    </div>
  </div>
  <div class="twofour-sub-div">
    <div class="twofour-blend">
      <img class="twofour-blend-img" data-variant="39487813582942" src="https://cdn.shopify.com/s/files/1/1852/7957/files/vejo-blended-drink-tart-berry.jpg?v=1655853007"/>
      <div class="twofour-blend-name">Tart Berry</div>
      <div class="twofour-blend-choices">
        <div id="blend2choice0" data-variant="39487813582942" class="twofour-blend-choices-choice">
          One 4-Pack
        </div>
        <div id="blend2choice1" data-variant="39487813582942" class="twofour-blend-choices-choice">
          Two 4-Packs
        </div>
      </div>
    </div>
    <div class="twofour-blend">
      <img class="twofour-blend-img" data-variant="39487813681246" src="https://cdn.shopify.com/s/files/1/1852/7957/files/vejo-blended-drink-clean-greens.jpg?v=1655853007"/>
      <div class="twofour-blend-name">Clean Greens</div>
      <div class="twofour-blend-choices">
        <div id="blend3choice0" data-variant="39487813681246" class="twofour-blend-choices-choice">
          One 4-Pack
        </div>
        <div id="blend3choice1" data-variant="39487813681246" class="twofour-blend-choices-choice">
          Two 4-Packs
        </div>
      </div>
    </div>
  </div>
  <div class="twofour-sub-div">
    <div class="twofour-blend">
      <img class="twofour-blend-img" data-variant="39487862538334" src="https://cdn.shopify.com/s/files/1/1852/7957/files/vejo-blended-chocolate-plant-based-protein.jpg?v=1655853009"/>
      <div class="twofour-blend-name">Plant-Based Protein<br/>Chocolate</div>
      <div class="twofour-blend-choices">
        <div id="blend4choice0" data-variant="39487862538334" class="twofour-blend-choices-choice">
          One 4-Pack
        </div>
        <div id="blend4choice1" data-variant="39487862538334" class="twofour-blend-choices-choice">
          Two 4-Packs
        </div>
      </div>
    </div>
    <div class="twofour-blend">
      <img class="twofour-blend-img" data-variant="39487862210654" src="https://cdn.shopify.com/s/files/1/1852/7957/files/vejo-blended-drink-oatmilk-matcha-latte.jpg?v=1655853007"/>
      <div class="twofour-blend-name">Matcha Latte</div>
      <div class="twofour-blend-choices">
        <div id="blend5choice0" data-variant="39487862210654" class="twofour-blend-choices-choice">
          One 4-Pack
        </div>
        <div id="blend5choice1" data-variant="39487862210654" class="twofour-blend-choices-choice">
          Two 4-Packs
        </div>
      </div>
    </div>
  </div>
</div>
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=LKpY5Y"></script>
