<div id="vejoRatingsDiv" class="reviews">
  <div class="product-main__kit-item love-div">
    <span>What People Love About Vejo</span>
  </div>
  <div class="reviews-div-grey">
    <img class="lazyload reviews-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/testimonial-vejo-clean-greens.jpg?v=1655148283" />
    <div class="reviews-title">
      Clean Greens
    </div>
    <div class="reviews-stars">
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
    </div>
    <div class="reviews-review-title">
      Tasty, easy way to get your greens!
    </div>
    <div class="reviews-review">
      "As much as I love veggies, I know that I don't always eat enough. The Clean Greens provide 50% of your daily recommanded intake in an easy, yet delicious manner."
    </div>
    <div class="reviews-reviewer">
      -Liga Z
    </div>
  </div>
  <div class="reviews-div-grey">
    <img class="lazyload reviews-img" style="height:107.85vw" src="https://cdn.shopify.com/s/files/1/1852/7957/files/testimonial-vejo-sampler.jpg?v=1655149539" />
    <div class="reviews-title">
      Welcome Sampler
    </div>
    <div class="reviews-stars">
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
    </div>
    <div class="reviews-review-title" style="bottom:105px">
      Fantastic Upgrade!
    </div>
    <div class="reviews-review" style="bottom:35px">
      "I’ve been a Vejo user for 2 years and this new blender is simply fantastic. I love the option to add more or less liquid and the push button blend is magical!"
    </div>
    <div class="reviews-reviewer" style="bottom:10px">
      -Victoria W
    </div>
  </div>
  <div class="reviews-div-grey">
    <img class="lazyload reviews-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/testimonial-vejo-chocolate-protein.jpg?v=1655150296"/>
    <div class="reviews-title">
      Chocolate Plant-Based Protein
    </div>
    <div class="reviews-stars">
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
    </div>
    <div class="reviews-review-title">
      Great Chocolate Flavor!
    </div>
    <div class="reviews-review">
      "Some protein powders have a bitter aftertaste. Not this one. Smoothe creamy chocolate. Almost like a milkshake!."
    </div>
    <div class="reviews-reviewer">
      -Catherine D
    </div>
  </div>
  <div class="reviews-div-grey">
    <img class="lazyload reviews-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/testimonial-vejo-tropical.jpg?v=1655150428"/>
    <div class="reviews-title">
      Tropical
    </div>
    <div class="reviews-stars">
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
    </div>
    <div class="reviews-review-title">
      Tropical Island at Your Fingertips
    </div>
    <div class="reviews-review">
      "Love this blend. It brings the island feel every time you try it. Great pick me up on the cold or rainy day"
    </div>
    <div class="reviews-reviewer">
      -Tatiana B
    </div>
  </div>
  <div class="reviews-div-grey">
    <img class="lazyload reviews-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/testimonial-vejo-tart-berry.jpg?v=1655150598"/>
    <div class="reviews-title">
      Tart Berry
    </div>
    <div class="reviews-stars">
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
      <img src="https://cdn.shopify.com/s/files/1/1852/7957/files/star-solid.svg?v=1654882360" class="star-icon"/>
    </div>
    <div class="reviews-review-title">
      Fresh to the Max!
    </div>
    <div class="reviews-review">
      "Arguably one of the best flavors they make! Literally tastes like a handful of organic berries freshly blended in a glass just for you! A fave for years!"
    </div>
    <div class="reviews-reviewer">
      -Heidi H
    </div>
  </div>
</div>
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=LKpY5Y"></script>

{% schema %}
  {
    "name": "What People Love",
    "settings": [
      {
        "type": "text",
        "id": "introductory_title",
        "label": "Introductory Title"
      }
    ]
  }
{% endschema %}
  
  