<div id="vejoLifeDiv" class="product-main__kit-item step3-div">
  <span>Discover the Vejo Lifestyle</span>
</div>

<div id="vejoLifeDiv2" class="lifestyle-images">
  <img class="lazyload lifestyle-img" data-src="https://cdn.shopify.com/s/files/1/1852/7957/files/Three_Steps_copy.jpg?v=1590208380" />
  <div style="position:relative;">
    <img class="lazyload lifestyle-img" data-src="https://cdn.shopify.com/s/files/1/1852/7957/files/WYV_In_Hand_Phone_Indigo_v1-2FPS.gif?v=1590346754" />
    <div class="textonimg">Anytime, Anywhere.</div>
  </div>
  <div style="position:relative;">
    <img class="lazyload lifestyle-img" data-src="https://cdn.shopify.com/s/files/1/1852/7957/files/Athlete_Tested.jpg?v=1590208453" />
    <div class="textonimg">Athlete Tested.</div>
  </div>
  <div style="position:relative;">
    <img class="lazyload lifestyle-img" data-src="https://cdn.shopify.com/s/files/1/1852/7957/files/Family_Approved.jpg?v=1590208464" />
    <div class="textonimg">Family Approved.</div>
  </div>
  <div style="position:relative;">
    <img class="lazyload lifestyle-img" data-src="https://cdn.shopify.com/s/files/1/1852/7957/files/Pods.jpg?v=1590208475" />
    <div class="textonimg2">
      <div>There's One for You.</div>
      <div class="textonimg2-inside">Whether you're looking for a dose of clean greens, a healthy smoothie, a pre-workout boost, or just a nutritious snack - we've got you covered.</div>
    </div>
  </div>
</div>
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=LKpY5Y"></script>

{% schema %}
  {
    "name": "Vejo Lifestyle",
    "settings": []
  }
{% endschema %}
  
  
