<div id="vejoPressDiv" class="product-main__kit-item pro-div">
  <span>Vejo in the Press</span>
</div>

<div id="vejoPressDiv2" class="social-div">
  <div class="floating-div-2"></div>
  <div class="floating-div-3"></div>
  <div class="social-div-inside">
    <img class="lazyload social-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/forbes-logo.png?v=1590018848" />
    <div class="social-quote">
      <div>"Vejo's blender is sleek and the pod blends are as delicious as they are nutritious."</div>
      <div class="social-quote-author">Meggan Taylor, Forbes Contributor</div>
      <div class="floating-div"></div>
    </div>
  </div>
  <div class="divider-right"></div>
  <div class="floating-div-3"></div>
  <div class="social-div-inside" style="padding-top:30px">
    <img class="lazyload social-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/playboy-logo-png-8.png?v=1614301116" />
    <div class="social-quote">
      <div>"I know what you're thinking: It's just a smoothie. We've seen this before, haven't we? Yes, but likely never this meticulously researched, this nutritious or this convenient."</div>
      <div class="social-quote-author">Playboy</div>
      <div class="floating-div"></div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="floating-div-3"></div>
  <div class="social-div-inside">
    <img class="lazyload social-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/usweekly-logo.png?v=1590019230" />
    <div class="social-quote">
      <div>"Find out which Vejo Blender Karlie Kloss, host and judge of Project Runway, carries in her bag!"</div>
      <div class="social-quote-author">Sophie Dweck, Associate Editor</div>
      <div class="floating-div"></div>
    </div>
  </div>
  <div class="divider-right"></div>
  <div class="floating-div-3"></div>
  <div class="social-div-inside">
    <img class="lazyload social-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/byrdie-logo.png?v=1590019378" />
    <div class="social-quote">
      <div>"...it's delicious and loaded with so many good things for my body."</div>
      <div class="social-quote-author">Holly Rhue, Associate Editor</div>
      <div class="floating-div"></div>
    </div>
  </div>
</div>
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=LKpY5Y"></script>

{% schema %}
  {
    "name": "Vejo Press",
    "settings": []
  }
{% endschema %}
  