<div class="product-main__kit-item step2-div">
  <span>Free 8-Pack Welcome Sampler</span>
</div>

<div id="pack1div" class="pack-div" style="padding-bottom:20px;">
  <img class="pack-div-img" style="object-fit: cover; height: 100%;" src={{ settings.pack_image | img_url:'500x500'}} />
</div>

<!-- <div class="select-div">
  <img class="select-icon" src="https://cdn.shopify.com/s/files/1/1852/7957/files/caret-up-solid.svg?v=1654619779" />
</div> -->

<!-- <p id="pack-name" class="pack-name-div">{{ settings.pack_name }}</p> -->

<div class="product-main__entry pack-desc-div">
  The perfect introduction to Vejo.<br/><br/>
  Our FREE 8-Pack Welcome Sampler contains 2 Each of Our Most Popular Blends:<br/><br/>
  Clean Greens, Banana Almond, Matcha Latte, and Vanilla Protein.
</div>
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=LKpY5Y"></script>

{% schema %}
  {
    "name": "Vejo Choose Blends v2",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}