<div class="what-you-get">
  What's in the box? 
<!--   <img id="boxIcon" class="step-icon" src="https://cdn.shopify.com/s/files/1/1852/7957/files/box-open-solid.svg?v=1654561505"/> -->
  <div class="div-show">
    <div class="div-show-text">Close</div>
  </div>
</div>

<div hidden class="inside-div">
  <div class="inside-card" style="justify-content:space-between; background-color:white; padding:0">
    <div class="inside-card-double">
      <img id="blenderImage" class="lazyload inside-img" src=""/>
      <div style="padding-left:5px;">
      	<div class="inside-title" id="blenderName" style="padding-bottom:0;"></div>
        <div class="inside-title" style="padding-bottom:0;">Blender</div>
      </div>
    </div>
    <div class="inside-card-double" style="padding-right:10px">
      <img id="blenderImage" class="lazyload inside-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/usbc-vejo.png?v=1654536130"/>
      <div style="padding-bottom:0; padding-left:5px;">
      	<div class="inside-title" style="padding-bottom:0">USB-C</div>
        <div class="inside-title" style="padding-bottom:0">Cable</div>
      </div>
    </div>
  </div>
  <div class="inside-card card-1">
    <img id="blenderImage" class="lazyload inside-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/lids-smoothie-clean-greens-400x466.webp?v=1654550845"/>
    <div class="inside-card-right">
        <div class="inside-title">Clean Greens</div>
        <div class="inside-desc">This herbaceous blend tastes like it was plucked straight from the garden. It's a good source of vitamin C and contains B vitamins, ideal for when you crave a refreshing dose of greens.</div>
    </div>
  </div>
  <div class="inside-card card-2">
    <img id="blenderImage" class="lazyload inside-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/lids-protein-banana-almond-400x466.webp?v=1654550791"/>
    <div class="inside-card-right">
        <div class="inside-title">Banana Almond</div>
        <div class="inside-desc">This hearty blend will satisfy even the most indulgent banana bread cravings while delivering 7 grams of protein. Dietary fiber ensures this banana blend satisfies and satiates. It's great as post-workout drink, or to bridge the gap between meals.</div>
    </div>
  </div>
  <div class="inside-card card-3">
    <img id="blenderImage" class="lazyload inside-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/lids-coffee_tea-matcha-latte-400x466.webp?v=1654550778"/>
    <div class="inside-card-right">
        <div class="inside-title">Matcha Latte</div>
        <div class="inside-desc">It’s not every day that healthy habits are easy to form and difficult to break. Meet your newest healthy habit: Vejo’s Matcha Latte with Oatmilk, pairing organic Japanese matcha with organic oatmilk, and no added sugar. Revamp your morning ritual with a creamy, antioxidant-rich coffee alternative for sustained energy, focus, and ultimate zen.</div>
    </div>
  </div>
  <div class="inside-card card-3">
    <img id="blenderImage" class="lazyload inside-img" src="https://cdn.shopify.com/s/files/1/1852/7957/files/lids-protein-plantbased-chocolate-opt_4e8c004d-5aee-41e7-887c-585bf73d34c5.png?v=1622582812"/>
    <div class="inside-card-right">
        <div class="inside-title">Plant-Based Protein</div>
        <div class="inside-desc">This plant-based protein power up is hypoallergenic, crafted with organic ingredients and packed with all 9 essential amino acids. A delicious, energizing snack that provides balance throughout your body while supporting healthy digestion.</div>
    </div>
  </div>
</div>
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=LKpY5Y"></script>

{% schema %}
  {
    "name": "Vejo Box v2",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

