        @media (max-width: 480px){
           .Ya {
              bottom: 0 !important;
              position: fixed !important;
              background-color: #fff ;
              padding: 0 5% 0 3.5%!important;
              height: auto !important;
              z-index: 10;
              margin: 0 !important;
              width: 100% !important;
              padding: 20px 0!important;
            } 
            .myPack{
              width: 97% !important;
              padding: 14px !important;
          }
            .mobile-subscription{
              display: block !important;
              padding-bottom: 30% !important;
            }
        	.desktop-subscription{
              display: none !important;
        	}
           .sectionBlends {
             justify-content: space-around !important;
             margin-top: 15px;
            }
           .box-subscriptionn{
             padding: 15px !important;
            }
            .hasSub{
              width: 72% !important;
              left: 14% !important;
            }
            .bxp-reset{
              padding: 16px 63px !important;
              margin-top: 0 !important;
              box-shadow: 0px 2px 4px #c3b4b4;
              margin-right: 10px !important;
              right: 20px !important;
            }
            .p-orders{
              margin-top: 0 !important;
            }
            .order_details img{
              width: 44px !important;
              margin-top: 0 !important;
         }
            .order_details div{
              margin-left:2px;
            }
            .p-subscription{
              margin-top: -56px !important;
              padding: 3px !important;
              width: 17px!important;
            }
            .order_details{
              margin-left: 2px !important;
         }
            .orders{
              margin-top: 10px !important;
              flex-wrap: wrap;
            }
            .box-subscription h5{
              font-size:16px !important;
              padding: 10px 2px 0 2px !important;
              margin-bottom: 4px !important;
            }
            .button_bottom{
              margin-top: 5% !important;
              padding: 18px 22px 18px 22px!important;
              width: 96% !important;
              margin-right: -1px !important;
              right: 11px !important;
            }
            .btn_bm{
              margin-right: 0 !important;
            }
            .subscription_price h3, .subscription_price span{
              font-size: 16px !important;
            }
            #bxp-bldr-total_value2 s{
              color: #9d9b9b !important;
              font-weight: 200 !important;
              margin-right: 15px !important;
          }
            #bxp-bldr-price_total{
              padding-right: 0 !important;
              padding-top: 17% !important;
            }
            .discountApplied{
              margin: 1% 21.5%!important;
             /* bottom: 30%!important;*/
              width: 49%!important;
              position: inherit !important;
              padding: 5px !important;
              font-size: 17px !important;
            }
            .warning-button{
              text-align: center;
              padding-top: 3px!important;
              font-size: 19px!important;
              left: 14%!important;
              padding-bottom: 3px!important;
              width: 70%!important;
              font-size: 16px!important;
              border-radius: 0!important;
              margin-top: 2%!important;
              margin-left: 40px!important;
              position: inherit!important;
            }
          }
        @media (min-width: 481px) and (max-width: 550px){
           .Ya {
              bottom: 0 !important;
              position: fixed !important;
              background-color: #fff ;
              padding: 0 5% 0 3.5%!important;
              height: auto !important;
              z-index: 10;
              margin: 0 !important;
              width: 100% !important;
              padding: 20px 0!important;
            } 
            .myPack{
              width: 97% !important;
              padding: 14px !important;
          }
            .mobile-subscription{
              display: block !important;
              padding-bottom: 30% !important;
            }
        	.desktop-subscription{
              display: none !important;
        	}
           .sectionBlends {
             justify-content: space-around !important;
             margin-top: 15px;
            }
           .box-subscriptionn{
             padding: 15px !important;
            }
            .hasSub{
              width: 72% !important;
              left: 14% !important;
            }
            .bxp-reset{
              padding: 16px 63px !important;
              margin-top: 0 !important;
              box-shadow: 0px 2px 4px #c3b4b4;
              margin-right: 10px !important;
              right: 20px !important;
            }
            .p-orders{
              margin-top: 0 !important;
            }
            .order_details img{
              width: 44px !important;
              margin-top: 0 !important;
         }
            .order_details div{
              margin-left:2px;
            }
            .p{
              margin-top: -56px !important;
              padding: 3px !important;
              width: 17px!important;
            }
            .order_details{
              margin-left: 2px !important;
         }
            .orders{
              margin-top: 10px !important;
              flex-wrap: wrap;
            }
            .box-subscription h5{
              font-size:16px !important;
              padding: 10px 2px 0 2px !important;
              margin-bottom: 4px !important;
            }
            .button_bottom{
              margin-top: 5% !important;
              padding: 18px 22px 18px 22px!important;
              width: 96% !important;
              margin-right: -1px !important;
              right: 11px !important;
            }
            .btn_bm{
              margin-right: 0 !important;
            }
            .subscription_price h3, .subscription_price span{
              font-size: 16px !important;
            }
            #bxp-bldr-total_value2 s{
              color: #9d9b9b !important;
              font-weight: 200 !important;
              margin-right: 15px !important;
          }
            #bxp-bldr-price_total{
              padding-right: 0 !important;
              padding-top: 17% !important;
            }
            .discountApplied{
              margin: 1% 21.5%!important;
             /* bottom: 30%!important;*/
              width: 49%!important;
              position: inherit !important;
              padding: 5px !important;
              font-size: 17px !important;
            }
            .warning-button{
              text-align: center;
              padding-top: 3px!important;
              font-size: 19px!important;
              left: 14%!important;
              padding-bottom: 3px!important;
              width: 70%!important;
              font-size: 16px!important;
              border-radius: 0!important;
              margin-top: 2%!important;
              margin-left: 40px !important;
              position: inherit!important;
            }
          }

          @media (min-width: 551px) and (max-width: 769px){
            #bxp-bldr-price_total{
              padding-left: 18px;
              padding-top: 11% !important;
            }
            .mobile-subscription{
              display: block !important;
              padding-bottom: 23% !important;
            }
        	.desktop-subscription{
              display: none !important;
        	}
           .sectionBlends {
             justify-content: space-around !important;
             margin-top: 15px;
            }
           .box-subscriptionn h5{
             width: 100%;
             margin-left: 0;
             font-size:14px;
             padding: 10px 2px 0 2px !important;
             margin-bottom: 4px !important;
            }
           .box-subscriptionn{
             padding: 15px !important;
            }
            .myPack{
              width: 92% !important;
              margin: 10% 2% !important;
              height: auto !important;
              padding: 26px 12px 20px 12px !important;
            } 
            .bxp-reset{
              margin-right: 11px !important;
              margin-top: -7%;
              padding: 16px 63px !important;
              box-shadow: 0px 2px 4px #c3b4b4;
              right: 20px !important;
            }
            .hasSub{
              width: 72% !important;
              left: 14% !important;
            }
            .p-orders{
              margin-top: 0 !important;
            }
            .order_details img{
              width: 40px !important;
         }
            .order_details div{
              margin-left:7px;
            }
            .p{
              margin-top: -52px !important;
              padding: 3px !important;
              width: 16px!important;
            }
            .order_details{
              margin-left: 12px !important;
         }
           /* .orders{
              margin-top: 25px;
              flex-wrap: wrap;
            }*/
            .button_bottom{
              margin-top: 5% !important;
              padding: 18px 22px 18px 22px!important;
              width: 96% !important;
              margin-right: -1px !important;
              right: 11px !important;
            }
            .btn_bm{
              margin-right: 0 !important;
            }
            .Ya{
              bottom: 0 !important;
              position: fixed !important;
              background-color: #fff ;
              padding: 0 5% 0 3.5%!important;
              height: 184px !important;
              z-index: 10;
              margin: 0 !important;
              width: 100% !important;
              padding: 20px 0!important;
            }
            .subscription_price h3, .subscription_price span{
              font-size: 22px !important;
            }
            #bxp-bldr-total_value2 s{
              color: #9d9b9b !important;
              font-weight: 200 !important;
              margin-right: 15px !important;
          }
            .discountApplied{
              margin: 1% 36.5%!important;
             /* bottom: 30%!important;*/
              width: 26%!important;
              position: inherit !important;
              padding: 5px !important;
              font-size: 17px !important;
            }
            .warning-button{
              text-align: center;
              padding-top: 3px!important;
              font-size: 19px!important;
              left: 14%!important;
              padding-bottom: 3px!important;
              width: 35%!important;
              font-size: 16px!important;
              border-radius: 0!important;
              margin-top: 2%!important;
              margin-left: 40px !important;margin-left: 33% !important;
              position: inherit!important;
            }  
          }
          @media (min-width: 770px) and (max-width: 860px){
            .desktop-subscription{
              margin: 0!important;
              padding-bottom: 17% !important;
            }
            .bxp-reset{
              margin-right: 0 !important;
              margin-top: 12% !important;
              margin-bottom: 11% !important;
            }
            .order_details img{
              width:43px !important;
              margin-top: 28px !important;
            }
            .p{
              margin-top: -55px !important;
            }
            .box-subscription h5{
              font-size: 17px !important;
            }
            .button_bottom{
              padding: 18px 73px;
              margin-top: 47px !important;
            }
            .btn_b{
              margin-right: 205px;
            }
            .Ya{
              padding: 0 !important;
            }
            .price_button{
              padding-right: 8px !important;
            }
            #bxp-bldr-price_total{
              display: none !important;
            }
            #bxp-discount-toast{
              width: 24% !important;
              bottom: 111px !important;
              margin: 0px 38% !important;
            }
            .warning-button{
              margin-left: -81px !important;
            }
          }
          @media (min-width: 1111px) and (max-width: 1189px){
            .desktop-subscription{
              margin: 0 !important;
              padding-bottom: 16% !important;
            }
            .bxp-reset{
              margin-right:2% !important;
              margin-top: 5% !important;
              margin-bottom: 4% !important;
            }
            .order_details img{
              width:54px !important;
            }
            .p{
              margin-top: -66px !important;
            }
            .button_bottom{
              padding: 18px 79px;
              margin-top: 54px !important;
            }
            .btn_b{
              margin-right: 220px;
            }
            .Ya{
              padding: 0 !important;
            }
            .price_button{
              padding-right: 0 !important;
              width: 412px;
            }
            .discountApplied{
              width: 16% !important;
              margin: 0px 42% !important;
            }
            #bxp-bldr-price_total h3, #bxp-bldr-price_total span{
              font-size: 22px !important;
            }
            #bxp-bldr-price_total{
              padding-right: 29px !important;
            }
            .warning-button{
              margin-left: -53px !important;
            }
          }
          @media (min-width: 861px) and (max-width: 1110px){
            .desktop-subscription{
              margin: 0 !important;
              padding-bottom: 16% !important;
            }
            .bxp-reset{
              margin-right:10% !important;
              margin-top: 6% !important;
              margin-bottom: 6% !important;
            }
            .order_details img{
              width:54px !important;
              margin-top: 9px !important;
            }
            .p{
              margin-top: -67px !important;
            }
            .button_bottom{
              padding: 18px 79px;
              margin-top: 54px !important;
            }
            .btn_b{
              margin-right: 220px;
            }
            .Ya{
              padding: 0 !important;
              height: 77px !important;
            }
            .price_button{
              padding-right: 0 !important;
              width: 200px;
            }
            .discountApplied{
              width: 19% !important;
              bottom: 95px !important;
              margin: 0px 40% !important;
            }
            #bxp-bldr-price_total{
              /*padding-top: 8% !important;*/
              display:none !important;
            }
            .box-subscription h5{
              font-size: 17px !important;
            }
            .warning-button{
              margin-left: -62px !important;
            }
          }
          @media (min-width: 1190px) and (max-width: 1365px){
            .desktop-subscription{
              margin: 0 !important;
            }
            .bxp-reset{
              margin-top: 5.3% !important;
            }
            .button_bottom{
              margin-top: 47px !important;
            }
            .Ya{
              padding: 0 !important;
            }
            .price_button{
              padding-right: 19px !important;
            }
            .discountApplied{
              width: 14% !important;
              margin: 0px 43% !important;
            }
            .warning-button{
              margin-left: -41px !important;
            }
          }
           .Quantity-subscription .plus , .Quantity-subscription .minus {
             cursor: pointer !important;
             border-radius: 2.5px;
            }
           .name_product {
             margin-left: 13px;
            }
           .box-subscription img {
             width: 79%;
             margin: 0 10%;
             margin-top: 11%;
             border-radius: 5px;
            }

           .sectionBlends{
             justify-content: center;
             display:flex;
            }
           .box-subscriptionn{
             border-radius: 5px;
             padding: 15px 33px;
             border: 1px solid rgba(217,225,230,1);
             width: 287px;
             margin-left: 2% !important;
             margin-right: 2% !important;
           }
         .order_details{
           margin-left:15px;
         } 
         .order_details img{
             border-radius: 4px;
             margin: 7px 0 0 0;
             width: 61px;
        }
            .Quantity-subscription{
             display: flex;
             font-size: 23px;
             justify-content: center;
             color: white;
             text-align: center;
             margin-bottom: 6%;
             margin-top: 6%;
        
            }
            .Quantity-subscription div:nth-child(2){
             padding: 2% 0;
             font-size:14px;
             width: 50px;
             margin: 0 2%;
             background-color: rgba(58,58,58,1);
             box-shadow: 2px 2px 5px #aaa;
             border-radius: 2.5px;
            }
            .Quantity-subscription div:nth-child(1), .Quantity-subscription div:nth-child(3) {
             padding: 2% 0;
             font-size:14px;
             width: 25px;
             background-color: rgba(58,58,58,1);
             box-shadow: 2px 2px 5px #aaa;
            }
            .box-subscription h5 {
              text-align:center;
              margin-top:5px;
              height:47px;
              font-size: 20px;
              font-weight: 500 !important;
              padding: 10px 15px 0 15px;
              margin-bottom: 25px;
            }
            .label_blend{
              font-size: 17px;
              padding: 18px 0 13px 0 !important;
            }
            .box-subscriptionn_mobile_margin{
              margin-right:3px !important;
            }
         .myPack{
            box-sizing: content-box;
            width: 100%;
            padding: 5px;
            margin: auto;
            margin-bottom: 54px;
            height: auto;
            border: 1px solid #f6f6f7;
            box-shadow: 0px 0px 22px -6px #dfe3e8;
            border-radius: 10px;
            /*padding: 49px 20px !important;*/
            margin-top: 5%;
           
         }
         .bxp-reset{

            border: none;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            font-weight: 400;
            outline: none;
            text-align: center;
            background: #000;
            font-size: 12px;
            line-height: 1;
            padding: 6px 18px;
            right: 0;
            border-radius: 16px;
            padding: 16px 63px;
            font-size: 15px !important;
            margin-top: 1.3%;
            margin-top: 5.6%;
            margin-bottom: 4%;
                
         }

         .orders{
            display: flex;
         }
         .p-orders{
           display:grid;
         }
        .hasSub{
          text-align: center;
          width: 50%;
          position: fixed;
          left: 41%;
          bottom: 0;
         }

         .p{
          font-size: 10px;
          background-color: black !important;
          border-radius: 50%;
          padding: 4px;
          color: white;
          position: sticky;
          float: right;
          margin-top: -66px;
          margin-right: 3px;
          width: 19px;
          }
         .box-subscriptionn img{
           border-radius: 5px !important;
         }
        .desktop-subscription{
           margin: 0 17%;
        }
        .button_bottom{
          margin-top:0;
          margin-right:0;
          padding: 18px 85px;
          font-size: 18px!important;
          right: inherit;
          margin-top: 59px;
        }
        .btn_b{
         text-align: center;
         margin-right: 232px;
        }
        .warning-button{
          display:none; background-color:#b53c3c !important;border-color:#b53c3c;
          background-color: black;
          border: 2px solid black;
          padding-top: 10px;
          font-size: 21px;
          font-weight: 500;
          width: 312px;
          cursor: pointer;
          max-height: 58px;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          color: white;
          border-color:#b53c3c;
          margin-left: 9px;
          position:fixed;
          bottom: 15%;
          padding-bottom: 10px;    
        }
        .warning-container{
          text-align: center;
          width: 50%;
          position: fixed;
          left: 41%;
          bottom: 0;
        }
       .less-than-8{
         padding-left: 41%;
         padding-top: 0%;
         padding-bottom: 2%;
         color: red;
         display: none;
         }
      .Ya{
        padding: 16px 0px;
          margin: 0;
          display: flex;
          bottom: 0;
          position: fixed;
          background-color: white;
          padding: 0;
          height: 95px;
          z-index: 10;
          border-radius: 0;
      }
      .price_button s{
            color: #9d9b9b;
          font-weight: 200;
          margin-right: 15px;
      }